#body{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.containter{
    align-items: center;
}

.line{
    width: 0px;
    height: 1px;
    background: #fff;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 18px;
}

.top-row{
    justify-content: space-between;
}

#weather-shape{
    height: 150px;
    width: 305px;
    background-color: #fff;
    opacity: 0.9;
    padding: 25px 25px 25px 44px;
    border-bottom-left-radius: 25% 45%;
    border-bottom-right-radius: 25% 45%;
}

.fa-sun{
    color: #ffe526;
}

h3{
    padding-left: 30px;
    padding-right: 30px;
}

#author{
    display: none;
}
.quote-row:hover #author{
    display: block;
    transition: all 3s;
}

.quote-row{
    font-family: 'Hind', sans-serif;
    background-color: #fff;
    opacity: 0.75;
    height: 250px;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 10% 35%;
    border-bottom-right-radius: 10% 35%;
    border-top-left-radius: 10% 35%;
    border-top-right-radius: 10% 35%;
    margin-top: 150px;
    margin-bottom: 125px;
}

.to-do{
    background-color: #fff;
    opacity: 0.9;
    padding: 16px 0px 16px 0px;
    border-bottom-left-radius: 10% 15%;
    border-bottom-right-radius: 10% 15%;
}

.to-do-row{
    justify-content: flex-end;
}

.form-row{
    justify-content: center;
    padding-top: 10px;
    margin-bottom: -18px;
}

.to-do-title{
    justify-content: space-around;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.to-do-item{
    /* width: 240px; */
    width: -webkit-fill-available;
    justify-content: left;
    align-items: center;
    padding-left: 37px;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 0px;
    padding-top: 5px;
    border-top: solid 1px #cdcfd3;
}

.task-text{
    padding-left: 15px;
}

.fa-minus-circle{
    justify-content: flex-end;
    transition: all .1s linear;
    cursor: pointer;
}

.fa-minus-circle:hover{
    opacity: 1;
    color: #e87258;
}


.form-check-input{
    display: inline-block;
    vertical-align: middle;
}